:root {
    --light-blue: #5072DF;
    --dark-blue: #10172A;
    --white: #fff;
}

/* Body works like a modal on a app */
.modal {
    position: fixed;
    top: 0;


    width: 100%;
    height: 100vh;
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
}

/* Principal container in the Animation */
.container {
    width: 100px;
    height: 100px;

    /* Flex to align al items on the container */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Relative to center all container with a absolute Position */
    position: relative;
}

/* Border On the principal animations part */
/* Global styles of both borders */
.border {
    width: 120%;
    height: 120%;
    padding: 20px;

    border: 2px solid;
    border-radius: 50%;
    border-color: transparent;
    position: absolute;

    transform: rotate(-45deg);
    opacity: 0;
}

.borderWhite {
    border-right-color: var(--white);
    animation: animationBorderW 4s 1s ease-in-out infinite;
}

.borderRadius {
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.borderRadiusWTop {
    right: 18.6px;
    top: 19px;
    background: var(--white);
}

.borderRadiusWBottom {
    right: 18.6px;
    bottom: 19px;
    background: var(--white);
}

.borderRadiusBTop {
    right: 18.6px;
    top: 19px;
    background: var(--light-blue);
}

.borderRadiusBBottom {
    right: 18.6px;
    bottom: 19px;
    background: var(--light-blue);
}

.borderBlue {
    border-right-color: var(--light-blue);
    animation: animationBorderB 4s 1s ease-in-out infinite;
}

/* circles content On the animation */
/* Global styles each circle principal */
.circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleBlueL {
    background: var(--light-blue);
    animation: animationCircleL 4s ease-in-out infinite;
}

.circleWhite {
    background: var(--white);
    animation: animationCircleW 4s ease-in-out infinite;
}

.circleBlueD {
    background: var(--dark-blue);
    animation: animationCircleD 4s ease-in-out infinite;
}

/* Triangle styles with her respective animations */
.containTriangle {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Global styles of both triangles */
.triangle {
    position: absolute;
    width: 35px;
    height: 35px;
    transform-origin: bottom left;
}

.triangleWhite {
    left: 2px;
    animation: animationTriangleW 4s ease-in-out infinite;
}

.triangleBlue {
    right: 2px;
    animation: animationTriangleB 4s ease-in-out infinite;
}

.hidden {
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease-in-out;
}