@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --DarkBlue: #10172a;
    --LigthBlue: #4e73de;
    --LetterColor: #ffff;
}

body{
    background: linear-gradient(to top, #19223b, #10172a);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    /* height: 100vh; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appTitle {
    width: 50%;
    height: 90%;
    
    color: var(--LetterColor);
    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 50px;
    padding: 50px 0;
    border-bottom: 2px solid var(--LetterColor);

}

.contain__cards{
    width: 70%;
    max-width: 1000px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width: 1000px) {
    .appTitle {
        font-size: 1.6rem;
    }
}
@media (max-width: 500px) {
    .appTitle {
        width: 80%;
    }

    .contain__cards{
        gap: 15px;
    }
}